[Unit]
Description = puma daemon

[Service]
#The path to the application code root directory for execute start
WorkingDirectory = /usr/local/rails_app/blog 

ExecStart = /home/deploy/.rbenv/shims/puma -C /usr/local/rails_app/blog/config/puma.rb
Restart = always
Type = simple
User = {{ puma_user }}
Group = {{ puma_group }}

[Install]
WantedBy = multi-user.target
